.cabecera-principal{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    @include min-h(24rem);
    background-color: $gris-normal;

    &__titulo{
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
            display: flex;
            justify-content: center;
            align-items: center;
            @include min-h(14rem);
            @include min-w(47rem);
            background-color: $negro;
            color: $gris-normal;
            text-transform: uppercase;
            text-align: center;
            padding: 2em;
            font-family: $fuente-podkova;
            font-size: 3em;
            letter-spacing: 3px;
        }
    }




}