.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    @include min-h(13.8rem);
    background-color: $gris-secundario;
    border-top: 1px solid $gris-fuerte;
    padding: 3rem 4rem;
    ul{
        li{
            font-family: $fuente-podkova;
            font-size: 1.4rem;

        }
    }
}